body {
    margin: 0;
}

/*----------HEADER----------*/

header {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    position: fixed;
    z-index: 2;
}

#onglets ul li {
    font-size: 130%;
    padding: 5px 40px;
    display: inline-block;
}

#onglets li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

#onglets li a:hover {
    color: red;
}

/*--------CONTAINER---------*/

.container {
    width: 100%;
}

/*--------HOME BLOCK---------*/
.homeBlock {
    background-color: #FFFFFF;
}

/*-------MUSEUM BLOCK--------*/

.box img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.box img:hover {
    width: 965px;
}

/*--------APP BLOCK---------*/
.appBlock {
    background-color: #aab5f0;
}

/*--------CONTACT BLOCK---------*/
.contactBlock {
    background-color: #3d768a;
}