@font-face {
    font-family: Lato;
    src: url('../font/Lato-Regular.ttf');
}

@font-face {
    font-family: Lavanderia;
    src: url('../font/Lavanderia-Regular.ttf');
}

@font-face {
    font-family: Berlin;
    src: url(../font/berlin/BerlinBold.ttf);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

/*----------HEADER----------*/
header {
    display: block;
    background-color: #404040;
    color: white;
    width: 100%;
    height: 75px;
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 2;
}

header img {
    height: 70px;

}

.accueil, .museum, .application, .contact {
    display: none;
}

/*--------CONTAINER---------*/

.container {
    margin-top: 5%;
    width: 100%;
}

/*--------HOME BLOCK---------*/
.home {
    background-image: url("../images/museeFabre.jpg");
    background-size: cover;
    background-position: center;
}

.homeDescription {
    font-family: 'Lato', sans-serif;
    background-color: rgba(251, 240, 246, 0.7);
    margin: 10% 10%;
    top: 25%;
    font-size: 2rem;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30%;
}

.homeDescription p {
    margin: 0 auto;
}

#myBtn {
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 17% auto;
    width: 80%;
}

.modal-content img {
    width: 100%;
}

/* The Close Button */
.close {
    float: right;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


/*-------MUSEUM BLOCK--------*/

.museumImgBlock {
    text-align: center;
    height: 17%;
}

.museumImgBlock img {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    width: 100%;
    height: 25% !important;
    transition: all .3s ease-in-out;
}

.museumNameBlock {
    position: absolute;
    text-align: center;
    margin-top: -45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border: 5px solid #FFF;
    color: #FFF;
    padding: 5px 10px;
    font-size: 35px;
    transition: all .3s ease-in-out;
}

.museumImgBlock:hover .museumNameBlock {
    filter: brightness(100%);
    background-color: #FFF;
    border-color: #91C768;
    color: #91C768;
}

.museumImgBlock img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

/*--------APP BLOCK---------*/
.appBlock {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 3%;
}

.appBlock .appImg {
    width: 200px;
}

.appBlock .appText {
    float: left;
}

#download img {
    width: 100px;
    height: auto;
}

#download img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/*--------CONTACT BLOCK---------*/
.contactBlock {
    background-color: #7bc7bd;
    height: 200px;
}

#footer {
    text-align: center;
    height: 300px;
}

.form {
    float: right;
}

input, textarea {
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    width: 200px;
}

input[type=text] {
    width: 100px;
}

input[type=submit] {
    width: 100px;
    background-color: #404040;
    color: #FFFFFF;
}

/*MEDIA QUERIES*/
@media (min-width: 641px) {

    .museumNameBlock {
        margin-top: -17%;
    }

    .museumImgBlock {
        text-align: center;
        height: 15%;
    }
}

@media (min-width: 1025px) {
    .homeDescription {
        padding: 40px 100px;
        margin-top: 10%;
    }

    .modal-content {
        margin: 3% auto;
        width: 80%;
    }

    .modal-content img {
        width: 85%;
    }


    .museumImgBlock {
        height: 15%;
        width: 24.5%;
        display: inline-block;
    }

    .museumImgBlock img {
        height: 633px !important;
    }

    .museumNameBlock {
        position: absolute;
        text-align: center;
        margin-top: -25%;
        left: auto;
        right: auto;
        margin-left: 7.5%;
        margin-right: auto;
        z-index: 2;
        border: 5px solid #FFF;
        color: #FFF;
        padding: 5px 10px;
        font-size: 3rem;
        transition: all .3s ease-in-out;
    }

    .accueil, .museum, .application, .contact {
        display: block;
    }

    #onglets ul li {
        font-size: 130%;
        padding: 2px 40px;
        display: inline-block;
        letter-spacing: -1.5px;
        vertical-align: middle;
    }

    #onglets li a {
        color: #FFF;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    #onglets li a:hover {
        color: #91c768;
    }

    .carousel {
        margin-right: 55%;
        padding-left: 5%;
    }

    #download img {
        width: auto;
        height: 55px;
    }

}